<div
  class="grid h-screen min-h-screen w-full overflow-hidden lg:grid-cols-[280px_1fr]"
>
  <div class="hidden border-r bg-gray-100/40 lg:block dark:bg-gray-800/40">
   <app-sidebar></app-sidebar>
    <!-- vd -->
  </div>
 


<div class="flex flex-col">

    <header
      class="flex h-14 lg:h-[60px] items-center gap-4 border-b bg-gray-100/40 px-6 dark:bg-gray-800/40"
    >
      <a class="lg:hidden" href="#"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6"
        >
          <path d="M3 9h18v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9Z"></path>
          <path
            d="m3 9 2.45-4.9A2 2 0 0 1 7.24 3h9.52a2 2 0 0 1 1.8 1.1L21 9"
          ></path>
          <path d="M12 3v6"></path></svg
        ><span class="sr-only">Home</span></a
      >
    
      <div class="flex-1">
        <h1 class="font-semibold text-lg">Products</h1>
      </div>
      <div class="flex flex-1 items-center gap-4 md:ml-auto md:gap-2 lg:gap-4">
      
            <div class="relative md:block">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                  </svg>
                  <span class="sr-only">Search icon</span>
                </div>
                <input [(ngModel)]="this.appState.productsState.keyword"  type="text" id="keyword" class=" m-2 p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
                <button class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" (click)="searchProducts()">search</button>
              </div>
   
      </div>
    </header>
    <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-6">
      <div class="border shadow-sm rounded-lg p-2">
        <div class="relative w-full overflow-auto">
          <table class="w-full caption-bottom text-sm">
            <thead class="[&amp;_tr]:border-b">
              <tr
                class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
              >
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 w-[100px]"
                >
                  ID
                </th>
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 min-w-[150px]"
                >
                  Name
                </th>
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 hidden md:table-cell"
                >
                  Price
                </th>
                <th
                  class="h-12 px-4 align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 text-right"
                >
                  Quantity
                </th>
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
                >
                  Stock
                </th>
                <th
                class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
              >
                Edit
              </th>
              <th
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
            >
              Delete
            </th>
              </tr>
            </thead>
            <tbody class="[&amp;_tr:last-child]:border-0">
              <tr
                class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                *ngFor="let product of this.appState.productsState.products "
              >
                <td
                  class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-medium"
                >
                {{product.id}} 
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                     {{product.name}}
                </td>
                <td
                  class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 hidden md:table-cell"
                >
                {{product.price}}  
                </td>
                <td
                  class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-right"
                >
               {{product.category}}
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                    {{product.stock}} 
                </td>

                <td  class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                    <a (click)="handleEdit(product)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>

                <td  class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                    <button (click)="handleDelete(product)"  type="button" ><i-tabler name="trash" style="color: red;"></i-tabler></button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="ml-56 mt-1 inline-flex -space-x-px text-sm">
          <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
          </li>
          <li *ngFor="let  page of [].constructor(this.appState.productsState.totalPages);let i = index" (click)="handleGoto(i+1)">
            <a  class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"[ngClass]="this.appState.productsState.currentPage == (i+1)?'bg-blue-400 text-white ':''">{{i+1}}</a>
          </li>

          <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
          </li>
        </ul>
      </nav>
      <app-dashboard></app-dashboard>
    </main>
  </div>
</div>