<span
  class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
  >Pages :{{ appState.productsState.totalPages }}</span
>
<span
  class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300"
  >Size :{{ appState.productsState.pageSize }}</span
>

<span
  class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-pink-300"
  >Total :{{ appState.productsState.totalProducts }}</span
>
